[Unit]
Description=My service
After=network.target

[Service]
ExecStart=/usr/bin/python3.7 -u myscript.py
WorkingDirectory=/home/pi/iot_rasp-001
StandardOutput=file:/home/pi/iot_rasp-001/outlog.log
StandardError=file:/home/pi/iot_rasp-001/errlog.log
Restart=always
User=pi

[Install]
WantedBy=multi-user.target